{% extends 'base.html'%}

{% block title %}
  Product - {{ good.title }}
{% endblock %}

{% block content %}
     <div class="row">
          <div> 
               <img src='{{good.photo}}' style="width: 150px">
          </div>
          <div class="wrapper"> 
               <p class="title">{{ good.title }}</p>
               <p class="text">Category {{ good.category }}</p>
               <p class="price">Price: {{ good.price }}$</p>
               <p class="description">Description: {{ good.description }}</p>
               <p class="text">added: {{ good.created_at }}</p>
          </div>
     </div>
{% endblock%}