{% extends 'base.html'%}

{% block title %}
  Good - {{ good.title }}
{% endblock %}

{% block menu %}
  <li> 
    <a href="{% url 'page_add_good' %}">Good add</a>
  </li>
{% endblock %}

{% block content %}
<h1>Do you want delete?</h1>
  <p>Title {{ good.title }}</p>
  <p>Category {{ good.category }}</p>
<form action="{% url 'confirm_delete' good.pk %}" method='post'>
    {% csrf_token %}
    <input type="submit" value="Delete">
    <a href="{% url 'goods_page' %}">Cancel</a>
</form>
{% endblock%}